.latest-news-area{

margin-top: 40px;


}

.latest-news-area{
    box-shadow: 0px 3px 10 10px rgba(0,0,0,0.1);
}

.news-img{
    position: relative ;

}

.news-img:before{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: #100;
    content: "";
    opacity: 0;
    transform: scale(.8);
    transition: all 0.5s;
}

.latest-news-wrap:hover .news-img:before{
    opacity: .5;
    transform: scale(1);
}

.deat{
    background: #24252a none repeat scroll 0 0;
    height: 70px;
    left: 0;
    position: absolute;
    text-align:center;
    top: 0;
    width: 70px;
    padding: 10px;

}

.deat span {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 16px;

}

.news-content{
    padding: 20px;
    margin-left: 3px;


}

.news-content a{
    font-size:18px;
    display: inline-block:



}

.news-content .fa{
    padding: 10px 10px;
    cursor: pointer;

}

.news-content .fa-facebook{
    color: #3b5995;
}

.news-content .fa-instagram{
    color: #0084b4;
}

.news-content .fa-twitter{
    color: #0077b5;
}

.news-content p{
    margin-bottom: 15px;
    text-align: justify;
    margin-top: 20px;
}

.news-content a{
    font-size: 14px;
    background-color:rgba(0, 136, 169, 1);
    padding: 10px 20px;
    color: white;
    transition: all 0.5s ease-in;

}

.news-content a:hover{
    font-size: 14px;
    border: 1px solid #34495e;
    background-color: transparent;
    color: #34495e;
    text-decoration: none;
}
