
*{
    padding:0;
    mapping:0;
  


}




body{

    font-family: Century Gothic;
    background-color: white;

}

.REFT{
    display: grid;
    width: 40%;
    text-align: left;
    margin: auto;

}

.REFT H2{

    text-align: center;
}
.HEAD{

    display: grid;
    text-align: center;
    letter-spacing: 4px;

}
.HEAD hr{

    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid teal;

}

hr{

    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;

}

a{
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    font-weight: light;
    font-size: 12px;
}
h2{

    font-weight: bold;
    letter-spacing: 2px;

}

.HEAD fieldset{

    border-bottom: 2px solid teal;
    border-left: 0px;
    border-right: 1px solid teal;
    border-top: 0px;

}
