/* Navigation*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  header li{
    display: inline;
    float:left;
    padding: 0px 20px 0px 20px;
  }
  header nav{
    float:right;
    margin-top: 10px;
  }
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 50px;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  .nav__links li {
    padding: 0px 10px 0px 10px;
    margin:0;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #24232a;
  }
  
  /* Mobile Nav */ 
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }

  /*Body*/

.main
{
    position: relative;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ecf0f1;
}

.slide
{
    position: absolute;
    width:100%;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
}

.main .slide.active{
    display: flex;
}

.content
{
    position: relative;
    width: 100%;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: content 2s ease;
}


@keyframes content{
    0%{
        opacity:0;transform:scale(1.1);
    }
    100%{
        opacity:1;transform:scale(1);
    }
}

.content .textBox
{
    position: relative;
    max-width: 600px;

}

.content .textBox h2
{
    color: #24252a;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}


.content .textBox h2 span
{   
    font-size: 2em;
}

.content .textBox p 
{
    color:#24252a;
}

.content .textBox a
{
    display:inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #24252a;
    color: #ecf0f1;
    border-radius: 40px;
    font-weight: 500 ;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .imgBox
{
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}

.homepic
{
    max-width: 550px;
}

.main .controls .prev,
.main .controls .next{
    position: absolute;
    z-index:2;
    top:50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    color:#fff;
    background-color: #0088a9;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.main .controls .prev:hover,
.main .controls .next:hover{
    background-color: #000000;
}

.main .controls .prev{
    left:0
}

.main .controls .next{
    right:0
}

.main .indicator{
    position:absolute;
    left:50%;
    bottom: 30px;
    z-index: 2;
    transform: translateX(-50px);
}

.main .indicator div{
    display: inline-block;
    width:15px;
    height:15px;
    color:  rgba(0, 0, 0, 0);
    background-color:  #0088a9;
    border-radius:50%;
    text-align: center;
    line-height:200px;
    margin:0 5px;
}

.main .indicator div.active{
    background-color: #ffffff;
}

@media (max-width: 767px){
    .controls{
        display: none;
    }
}

/*footer*/

body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
  }
  
